* {
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  color: #333;
}

body {
  margin: 0px;
}

.modalBackground {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.4);
}

.modal {
  position: absolute;
  min-width: 480px;
  min-height: 270px;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  background: whitesmoke;
  border: 1px solid blue;
  padding: 10px;
}

.title {
  font-size: 20px;
}
