* {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  color: #333;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.modalBackground {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.4);
}

.modal {
  position: absolute;
  width: 400px;
  height: 300px;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  background: white;
  border: 1px solid blue;
  padding: 10px;
}

.title {
  font-size: 20px;
}

button {
  background: white;
  border: 1px solid #333;
  cursor: pointer;
  padding: 0px 8px;
  height: 30px;
}

button:hover {
  color: white;
  background: blue;
}

input {
  border: 1px solid #333;
  padding: 4px;
  width: 300px;
  height: 30px;
}
